.fighterDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
min-width: 200px;
    background: rgba(255, 165, 0, 0.66);
    border-radius: 20px;
    box-shadow: inset 3px 5px 13px 1px #0000002b;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.fighterName{
    width: 100%;
    background: rgba(40, 40, 40, 0.94);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: wheat;
    font-size: 20px;
    font-family: sans-serif;
}
.fighterName h4{
    margin: 15px;
}
.fighterInfo {
    width: 110%;
    background: #282828;
    color: white;
    font-family: sans-serif;
    padding: 15px 25px;
    border-radius: 50px;
    box-shadow: 1px 1px 6px 0px #0000008c;
    display: flex;
    justify-content: space-between;
}

.fighterImage {
    padding: 10px 20px;
    height: 200px;
}
.block{
    display: flex;
    align-items: center;
}
.icon{
    width: 30px;
}

.value{
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
}